<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/mainPage.css">
    <script src = './script/mainPage.js' defer></script>
  </head>

  <body>
    <aside>
      <a href="">Home </a>
      <a href="login/profile">Profile</a>
      <div class="profile">
        <img
          src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"
          alt=""
        />
        <p>Israel wembyama</p>
      </div>
      <button id="logOut">Log out</button>
    </aside>
    <main>this is main page</main>
  </body>
  
</html>
