<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/signIn.css">
    <script src='./script/signIn.js' defer></script>

  </head>
  <body>
    <main>
      <div class="signInForm">
        <h1>SIGN UP</h1>
        <input type="text" placeholder="username" />
        <input type="password" placeholder="password" />
        <button id="button">Sign In</button>
        <div>
          <span>Don't Have account </span> <a href="/signUp">sign up</a>
        </div>
      </div>
    </main>
  </body>
</html>
